/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 /* app/assets/stylesheets/application.css */
/*
 *= require_self
 *= require_tree .
 */

:root{
    --white: #ffffff;
    --black: #000000;
    --blue: #0095F6;
    --darker-blue: #00376B;
    --light-blue: #53bdeb;
    --darker-grey: #737373;
    --grey: #b6b6b6;
    --light-grey: #eeeeee;
}

.modo-claro {
    background-color: var(--white);
    color: var(--black);
}

.flex-column {
    display: flex;
    flex-direction: column ;
}

.flex-row {
    display: flex;
    flex-direction: row ;
}

.flex-grid {
    display: grid;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gap15 {
    gap: 15px;
}

.gap5 {
    gap: 5px;
}

.margin0 {
    margin: 0 !important;
}

.margin9 {
    margin: 9 !important;
}

.box-sizing {
    box-sizing: content-box;
}

.flex-start {
    align-items: flex-start;
}

.space-between {
    justify-content: space-between;
}

.border { 
    border: solid 1px var(--grey);
}

.b-radius5 {
    border-radius: 5px;
}

.b-radius7 {
    border-radius: 7px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ocupa toda a altura da tela */
    width: 100vw;  /* ocupa toda a largura da tela */
}

.wrapper-full {
    display: flex;
  }  

.wrapper-full {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh; /* ocupa toda a altura da tela */
    width: 100vw;  /* ocupa toda a largura da tela */
}

.ellipses {
    text-overflow: ellipsis;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: visible;
}

h1 { 
    font-style: italic !important;
    padding: 25px 12px 16px !important;
    margin-bottom: 19px !important;
    font-size: 25px;
}

a {
    text-decoration: none;
}

button {
    font-weight: bold;
    border-radius: 7px;
}

span {
    text-align: center;
}

img {
    background: cover;
}

.container-fluid {
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 250px;
    flex-shrink: 0;
    border-right: solid 1px var(--grey);
    position: fixed;
    padding: 8px 12px;
}

.sidebar {
    flex-shrink: 0;
  }

.sidebar .itens {
    display: flex;
    flex-direction: column;
}

.sidebar .itens .nav-item{
    display: flex;
    height: 24px;
    width: 196px;
    margin: 4px 0;
    padding: 12px;
    align-items: center;
}

.sidebar .itens a:hover{
    background-color: var(--light-grey);
}

.sidebar .itens a{
    text-decoration: none;
}

.sidebar .itens .nav-item img{
    display: flex;
    height: 26px;
    background-size: cover;
}

.sidebar .itens .nav-item span{
    display: flex;
    font-size: 18px !important;
    padding: 0 0 0 16px;
    color: var(--black) !important;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 380px;
    padding: 10px 0;
    margin: 0 0 10px 0;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.interactive-button:hover  {
    cursor: pointer;
}

.flex hr {
    flex-grow: 1; /* faz com que o hr cresça e ocupe o espaço */
    height: 1px;
    border: none;
    background-color: var(--grey); /* cor da linha */
}